@use '../scss/variables';

.button {
	max-width: variables.$custom-button-max-width;
	padding: variables.$custom-button-padding;
	font-size: variables.$custom-button-font-size;
	border: variables.$custom-button-border;
	border-radius: variables.$custom-button-border-radius;
	background-color: variables.$custom-button-background-color;
	transition: all .1s;
	cursor: pointer;

	&:hover {
		transform: translateYX(4px);
	}

	&:active {
		transform: translateY(4px);
	}
}