@use '../scss/variables';

.input {
	border: variables.$custom-input-border;
	border-radius: variables.$custom-input-border-radius;
	padding: variables.$custom-input-padding;
	width: variables.$custom-input-width;
	font-size: variables.$custom-input-font-size;
	box-shadow: variables.$custom-input-box-shadow;
}