.button {
	max-width: 100%;
	padding: 0.6em;
	font-size: 1.1em;
	border: none;
	background-color: #64edac;
	border-radius: 0.7em;
	transition: all .1s;
	cursor: pointer;

	&:hover {
		transform: translateYX(4px);
	}

	&:active {
		transform: translateY(4px);
	}
}