@use '../scss/variables.scss';

.form {
	display: flex;
	justify-self: center;
}

.formGroups {
	display: flex;
	gap: 10px;
	margin: 15px 0;
}

.formGroup {
	

	& input {
		border: none;
		border-radius: 0.5em;
		padding: 0.6em;
		width: 100%;
		font-size: 1.1em;
	}
}

.fromBtn {
	padding: 0.6em;
	font-size: 1.1em;
	border: none;
	background-color: #64edac;
	border-radius: 0.7em;
	transition: all .2s;
	cursor: pointer;

	&:hover {
		background-color: #63f5c4;
		// box-shadow: 4px 4px 2px black;
	}

	&:active {
		transform: translateY(5px);
	}
}