@use '../scss/variables.scss';

.form {
	display: flex;
	justify-self: center;
	margin-bottom: 30px;
}

.inputGroup {
	display: flex;
	gap: 10px;
	margin: 15px 0;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	gap: 10px;
}