@use '../scss/variables.scss';

.form {
	display: flex;
	justify-self: center;
	margin-bottom: 30px;
}

.inputGroup {
	display: flex;
	gap: 10px;
	margin: 15px 0;
}

.buttonGroup {
	display: flex;
	justify-content: center;
	gap: 10px;
}

@media (max-width: 1200px) {
	.inputGroup {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px; 
	}
}

@media (max-width: 800px) {
	.inputGroup {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.buttonGroup {
		flex-wrap: wrap;
	}
}