.userList {

}

.userListActions{
	display: flex;
	justify-content: space-between;
}

.userListActionsButtons {
	display: flex;
	gap: 10px;
}

.usersQuantity {
	font-size: 1.2em;
}

li {
	list-style: none;
}

.userInfo {
	margin-top: 5px;

	background-color: #d5e6f5;
	padding: 10px;
	border-radius: 10px;
}

.userInfoGroup {
	display: flex;
	cursor: pointer;

	& div {
		flex: 1;
		text-align: center;
	}
}