@use './scss/variables.scss';

.app {
	display: flex;
	flex-direction: column;

	& h1 {
		text-align: center;
		margin-bottom: variables.$title-margin-bottom;
		padding: variables.$title-padding;
		background-color: variables.$title-background-color;
		color: variables.$title-color;
	}
}

@media (max-width: 1200px) {
	.app h1 {
		margin-bottom: 15px;
	}
}